@using System.Net
@using Newtonsoft.Json
@using nuelranks.pustalorc.xyz.JSON_Classes
@{
    using (var web = new WebClient())
    {
        ViewBag.TeamData = JsonConvert.DeserializeObject<RainbowSixTeam>(web.DownloadString($"https://api.pustalorc.xyz/NuelTeams/RainbowSix/{ViewBag.Message}"));
        ViewData["Title"] = $"Nuel R6S - {ViewBag.TeamData.Name}";
    }
}

<div class="text-center">
    <h1 class="display-4"><a href="https://tournaments.thenuel.com/tournaments/rainbow-six-siege-university-league-winter-2019">The Nuel Rainbow 6 Siege</a> Ranks</h1>
    <br/>
    @{
        RainbowSixTeam team = ViewBag.TeamData;
        
        <h2>Team: <a href="https://thenuel.com/team/@ViewBag.TeamData.Id?gameContext=5734">@team.Name</a> - Average MMR: @team.AverageMmr</h2>
        <br/>
        <div class="container">
            <div class="row">
                @{
                    foreach (var player in team.Members)
                    {
                        if (string.IsNullOrEmpty(player.PlayerId))
                        {
                            <div class="col border border-danger text-danger">
                                <p>@player.Name</p>
                                <p>Account doesn't exist, please verify your name.</p>
                            </div>
                        }
                        else
                        {
                            var rankUrl = $"https://trackercdn.com/cdn/r6.tracker.network/ranks/svg/hd-rank{player.Rank}.svg";

                            <div class="col">
                                <a href="https://r6.tracker.network/profile/pc/@player.Name">
                                    <img src="https://ubisoft-avatars.akamaized.net/@player.PlayerId/default_146_146.png" alt="https://ubisoft-avatars.akamaized.net/@player.PlayerId/default_146_146.png" />
                                </a>
                                <p>@player.Name</p>
                                <img class="player-rank" src="@rankUrl" alt="@player.Rank" />
                                <p>MMR: @player.Mmr</p>
                            </div>
                        }
                    }
                }
            </div>
        </div>
    }
</div>