@using System.Net
@using Newtonsoft.Json
@using nuelranks.pustalorc.xyz.JSON_Classes
@{
    var tournament = (Tournament) ViewBag.Tournament;

    using (var web = new WebClient())
    {
        var teamData = web.DownloadString($"https://api.pustalorc.xyz/NuelTournaments/{tournament.TournamentName}/{ViewBag.TeamID}");

        switch (tournament.TournamentType)
        {
            case ETournamentType.TeamFightTactics:
            case ETournamentType.League:
                ViewBag.TeamData = JsonConvert.DeserializeObject<LeagueOfLegendsTeam>(teamData);
                break;
            case ETournamentType.Rainbow6:
                ViewBag.TeamData = JsonConvert.DeserializeObject<RainbowSixTeam>(teamData);
                break;
        }

        ViewData["Title"] = $"Nuel {tournament.FriendlyName} - {ViewBag.TeamData.Name}";
    }
}

<div class="text-center">
    <h1 class="display-4"><a href="https://tournaments.thenuel.com/tournaments/@tournament.TournamentName">The Nuel @tournament.FriendlyName</a> Ranks</h1>
    <br/>
    @{
        switch (tournament.TournamentType)
        {
            case ETournamentType.TeamFightTactics:
            case ETournamentType.League:
                LeagueOfLegendsTeam leagueTeam = ViewBag.TeamData;

                <h2>Team: <a href="https://thenuel.com/team/@ViewBag.TeamData.Id?gameContext=1">@leagueTeam.Name</a></h2>
                <br/>
                <div class="container">
                    <div class="row">
                        @{
                foreach (var player in leagueTeam.Players)
                {
                    if (string.IsNullOrEmpty(player.PlayerId))
                    {
                        <div class="col border border-danger text-danger">
                            <p>@player.Name</p>
                            <p>Account doesn't exist, please verify your name.</p>
                        </div>
                    }
                    else
                    {
                        var rankText = player.Rank.Replace('_', ' ');
                        var rankUrl = $"https://opgg-static.akamaized.net/images/medals/{player.Rank.ToLower()}.png";
                        var profilePic = $"http://ddragon.leagueoflegends.com/cdn/9.20.1/img/profileicon/{player.ProfileIconId}.png";

                        <div class="col">
                            <a href="https://euw.op.gg/summoner/userName=@player.Name">
                                <img class="player-image" src="@profilePic" alt="@profilePic"/>
                            </a>
                            <p>@player.Name</p>
                            <p><img class="player-rank" src="@rankUrl" alt="@rankText"/>@rankText</p>
                        </div>
                    }
                }
                        }
                    </div>
                </div>
                break;
            case ETournamentType.Rainbow6:
                RainbowSixTeam rainbowTeam = ViewBag.TeamData;

                <h2>Team: <a href="https://thenuel.com/team/@ViewBag.TeamData.Id?gameContext=5734">@rainbowTeam.Name</a> - Average MMR: @rainbowTeam.AverageMmr</h2>
                <br/>
                <div class="container">
                    <div class="row">
                        @{
                foreach (var player in rainbowTeam.Players)
                {
                    if (string.IsNullOrEmpty(player.PlayerId))
                    {
                        <div class="col border border-danger text-danger">
                            <p>@player.Name</p>
                            <p>Account doesn't exist, please verify your name.</p>
                        </div>
                    }
                    else
                    {
                        var rankUrl = player.Rank == 21 ? "http://trackercdn.com/cdn/r6.tracker.network/ranks/svg/s15/hd-rank23.svg" : $"https://trackercdn.com/cdn/r6.tracker.network/ranks/svg/hd-rank{player.Rank}.svg";

                        <div class="col">
                            <a href="https://r6.tracker.network/profile/pc/@player.Name">
                                <img src="https://ubisoft-avatars.akamaized.net/@player.PlayerId/default_146_146.png" alt="https://ubisoft-avatars.akamaized.net/@player.PlayerId/default_146_146.png"/>
                            </a>
                            <p>@player.Name</p>
                            <img class="player-rank" src="@rankUrl" alt="@player.Rank"/>
                            <p>MMR: @player.Mmr</p>
                        </div>
                    }
                }
                        }
                    </div>
                </div>
                break;
        }
    }
</div>